.container_top {
  padding: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  column-gap: 150px;
  align-items: center;
}
.form_action {
  font-size: 30px;
  display: flex;
  max-width: 350px;
  flex-direction: column;
}
.form_action input {
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
.background-color {
  background-color: aqua;
  width: 320px;
  height: 320px;
  border: 1px solid black;
}
p {
  font-size: 14px;
  color: red;
}

/* Bottom */
.container_bottom {
  padding: 10px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 80%;
  border: 1px solid black;
  margin-bottom: 100px;
}
.wrapper_bottom {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
}
.block {
  margin-bottom: 10px;
  background-color: aqua;
  min-width: 100px;
  height: 100px;
}
.btn {
  margin-top: 20px;
  font-size: 15px !important;
  max-width: 150px;
  background-color: blue;
  color: white;
  transition: 0.3s;
}
.btn:hover {
  background-color: #1b4454;
  color: white;
}